apiVersion: v1
kind: Secret
metadata:
  name: iotea-secrets
stringData:
  POSTGRES_USER: iotea_user
  POSTGRES_PASSWORD: iotea_pass
  POSTGRES_DB: iotea
  DATABASE_URL: postgresql://iotea_user:iotea_pass@postgres:5432/iotea
  REDIS_URL: redis://redis:6379
  MQTT_URL: mqtt://emqx:1883
  EMQX_COOKIE: iotea_emqx_cluster_cookie
  JWT_SECRET: supersecretjwtkey
  MQTT_API_URL: http://emqx:18083/api/v5
  MQTT_API_KEY: c7ad44cbad762a5d
  MQTT_API_SECRET: rr9A9B0VhCf2hk8qjt9AmTffgRwZS10pVFfYmVvO38HpUM
  MQTT_WORKER_USERNAME: mqtt_worker
  MQTT_WORKER_PASSWORD: mqtt_worker_pass
  MQTT_API_USERNAME: mqtt_api_user
  MQTT_API_PASSWORD: mqtt_api_pass
  FIREBASE_PROJECT_ID: firebase_project_id_placeholder
  FIREBASE_CLIENT_EMAIL: firebase_client_email_placeholder
  FIREBASE_PRIVATE_KEY: private_key_placeholder